/* Using http://getbem.com/naming/ */

.page {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.page--full {
    min-height: 1000px;
    padding-top: 400px;
    padding-bottom: 400px;
}
.page--full h1 {
    text-align: center;
}

.preformatted {
    font-family: monospace;
    white-space: pre;
    overflow: scroll;
}