<!DOCTYPE html>
<html xml:lang="en">
<head>
    <meta charset="UTF-8" />
    <title>AWS workshop: Dive into the Cloud</title>
    <meta name="viewport" content="width=device-width" />
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.817.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="spacex-theme/theme.css">
</head>
<body>
<div id="spa">

    <div v-if="!gameConfig.aws.secretKey" class="modal-overlay" style="z-index: 1002; display: block; opacity: 0.5;"></div>

    <div v-if="!gameConfig.aws.secretKey" id="modal1" class="modal open" tabindex="0" style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">
        <form target="#">
            <div class="modal-content">
                <h4>We need to identify you</h4>
                <div class="input-field">
                    <input v-model="initialization.userName" v-on:keyup="loadConfigKey" id="email" type="text" v-bind:class="{invalid: !initialization.valid}"/>
                    <label for="email">E-mail address</label>
                </div>
                <div class="input-field">
                    <input v-model="initialization.company" v-on:keyup="loadConfigKey" id="company" type="text"  v-bind:class="{invalid: !initialization.valid}"/>
                    <label for="company">Company name</label>
                </div>
            </div>
            <div class="modal-footer">
                <loading v-if="initialization.loading"></loading>
                <span v-if="initialization.statusMessage">{{initialization.statusMessage}}</span>
                <button v-on:click="loadConfig" v-bind:class="{disabled: !initialization.userName || !initialization.company || !initialization.valid}" class="btn waves-effect waves-light" type="button">
                    Start learning <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

    <div class="navbar-fixed">
        <nav class="teal darken-2 small">
            <div class="nav-wrapper">
                <span>Dive into AWS Cloud</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li v-bind:class="visibleSection === 'logins' ? 'active' : ''"><a href="#logins">Logins</a></li>
                    <li v-bind:class="visibleSection === 'basics' ? 'active' : ''"><a href="#basics">Basics</a></li>
                    <li v-bind:class="visibleSection === 'complex' ? 'active' : ''"><a href="#complex">Hard concepts</a></li>
                    <li v-bind:class="visibleSection === 'trending' ? 'active' : ''"><a href="#trending">Trending technologies</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="logins" class="page page--full page--dive-into-the-cloud">
        <h1>Dive into the Cloud</h1>
    </div>

    <div class="page" v-if="gameConfig.aws.password">
        <div class="row">
            <form class="col s12 login-form">
                <div class="row">
                    <div class="input-field col s6">
                        <h2>Logins</h2>
                        <h3>For you</h3>
                        <div>
                            <label for="account_id">Account ID (12 digits) or account alias</label>
                            <input v-model="gameConfig.aws.accountId" id="account_id" type="text" class="validate"/>
                        </div>
                        <div>
                            <label for="user_name">IAM user name</label>
                            <input v-model="gameConfig.aws.userName" id="user_name" type="text" class="validate"/>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input v-model="gameConfig.aws.password" id="password" type="password" class="validate"/>
                        </div>
                        <div class="login-form__submit-area">
                            <button v-on:click="copyToClipboard(gameConfig.aws.password)" class="btn waves-effect waves-light" type="button">Copy password
                                <i class="material-icons right">content_copy</i>
                            </button>
                            <a v-bind:href="'https://'+gameConfig.aws.accountId+'.signin.aws.amazon.com/console/'" target="_blank" class="btn waves-effect waves-light" type="button">
                                Go to AWS Console <i class="material-icons right">send</i>
                            </a>
                        </div>
                    </div>
                    <div class="input-field col s6 ">
                        <img src="img/aws-illustration.jpg" width="345" height="514" alt="Illustration of AWS Login form"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="basics" class="page page--full page--on-the-ground">
        <h1>Let's start from the ground</h1>
    </div>

    <div class="page">
        <h3>Getting familiar with AWS</h3>

        <div class="row">
            <div v-if="gameConfig.costSavingMode" class="card-panel red lighten-1">Virtual instances not created yet because saving costs. Will be enabled during workshop hours</div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">They said I can fix the problem</span>
                        <p>
                            Elli have created some <code>starship</code> service on AWS, but now <strong>he is on holiday</strong>.<br/>
                            It turned out there was <strong>bad value</strong> <code>sha1</code> instead of <code>argon2</code>
                            in <code>/home/ssm-user/parameters.yml</code> <strong>file</strong>.<br/>
                            News is already spreading on Facebook and Reddit.<br/>
                            Manager called you begging for help: "you have access to AWS, please fix it ASAP"
                        </p>
                    </div>
                </div>
            </div>

            <hints>
                <hint v-bind:name="'Virtual servers in the Cloud are called Elastic Compute Cloud'">
                    <h5>Tip</h5>
                    AWS is Amazon web service) groups all services to:<br/>
                    <img class="responsive-img" src="img/aws-services.jpg"><br/>
                    In AWS common services are shortened by same letters.<br/>
                    Elastic Compute Cloud = EC2<br/>
                    Simple Storage Service = S3<br/>
                    Under <b>Compute</b>, you can find <b>EC2</b><br/>
                    <h5>More information</h5>
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/getting-started/">Getting started to AWS</a>
                        <a class="collection-item" href="https://aws.amazon.com/ec2/">EC2 (Elastic compute cloud)</a>
                    </div>
                </hint>
                <hint v-bind:name="'UI shows services by Geographical location'">
                    <h5>Tip</h5>
                    AWS has a concept of <b>Region</b><br/>
                    <img class="responsive-img" src="img/regions.jpg"><br/>
                    Our workshop is deployed to <b>Ireland</b><br/>
                    Which has programic name of <b>eu-west-1</b>
                    <h5>More information</h5>
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/about-aws/global-infrastructure/regions_az/">AWS Regions and Availability zones (overview)</a>
                        <a class="collection-item" href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html">AWS Regions and Availability zones (in more details)</a>
                    </div>
                </hint>
                <hint v-bind:name="'Instance is one of the mos common component in Elastic Compute Cloud'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/ec2/instance-types/">Instance types</a>
                    </div>
                </hint>
                <hint v-bind:name="'I do not have SSH key – can I still connect?'">
                    We have installed service that can simulate SSH session.<br/>
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html">EC2 key pairs</a>
                        <a class="collection-item" href="https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-sessions-start.html">Start a session via AWS Systems Manager</a>
                    </div>
                </hint>
                <hint v-bind:name="'Bash in the browser – where is my IDE?'">
                    <h5>Tip</h5>
                    You can type<br/>
                    <code>cat /home/ssm-user/parameters.yml</code><br/>
                    and hit <i>Eneter</i><br/>
                    <img class="responsive-img" src="img/ssm-cat-to-parameters-yml.jpg"><br/>
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-install-plugin.html">Use outside-of-the-Browser terminal for SSM Sesion</a>
                        <a class="collection-item" href="https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-sessions-start.html">Start a session via AWS Systems Manager</a>
                    </div>
                </hint>
            </hints>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">I am scared it will cost a lot or I will brake something</span>
                        <p>
                            During <i>Townhall</i> manager told company had bill of ten hundreds for <i>CloudWatch</i>.<br/>
                            There were multiple AWS accounts in the organization.<br/>
                            But you still are not sure – was it your fault?<br/>
                            Can you prevent it<br/>
                        </p>
                    </div>
                </div>
            </div>

            <hints>
                <hint v-bind:name="'There is Billing dashboard'">
                    <img class="responsive-img" src="img/billing-dashboard.jpg"><br/>
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-what-is.html">AWS Billing and Cost Management</a>
                    </div>
                </hint>
                <hint v-bind:name="'AWS has powerful permission management'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/iam/">AWS identity and access management</a>
                    </div>
                </hint>
                <hint v-bind:name="'AWS has powerful permission management'">
                    Some default prevents generated users to see Cost information.
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html">Disabling access to billing</a>
                    </div>
                </hint>
            </hints>
        </div>
    </div>

    <div id="complex" class="page page--full page--rocket-science">
        <h1>They say it is a Rocket science</h1>
    </div>

    <div class="page">
        <h3>Networking in AWS</h3>

        <div class="row">
            <div v-if="gameConfig.costSavingMode" class="card-panel red lighten-1">NATs not created yet because saving costs. Will be enabled during workshop hours</div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Is AWS just another hosting provider</span>
                        <p>
                            Client want to use firewall and identify my service by IP address.
                            Colleague told something about <b>VPC</b> and <b>NATs</b>,<br/>
                            is it related to <b>Security groups</b>?
                        </p>
                    </div>
                </div>
            </div>

            <hints>
                <hint v-bind:name="'Virtual private cloud – everything you need for custom Network solutions'">
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/vpc/latest/userguide/how-it-works.html">How Amazon VPC works</a>
                    </div>
                </hint>
                <hint v-bind:name="'High availability – why should I care about subnets?'">
                    <img class="responsive-img" src="img/vpc-empty.png">
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/whitepapers/latest/real-time-communication-on-aws/high-availability-and-scalability-on-aws.html">High Availability and Scalability on AWS</a>
                    </div>
                </hint>
                <hint v-bind:name="'Is there a different way to go in and out?'">
                    <img class="responsive-img" src="img/vpc-ec2.png"></br>
                    <b>Internet Gateway</b> are used for outgoing traffic from Public networks<br/>
                    <b>NAT Gateway</b> are used for outgoing traffic from Private networks (it sits in Public network)<br/>
                    Instances in same VPC can have <b>both private and public IP addresses</b>, so they can communicate with each others.<br/>
                    Traffic gets into VPC via public subnets (instances or load balancers in Public subnet).<br/>
                    Multiple subnets are used to ensure High availability (e.g. via Auto scaling groups).
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html">Disabling access to billing</a>
                        <a class="collection-item" href="https://aws.amazon.com/autoscaling/">Auto scaling (to ensure high availability)</a>
                    </div>
                </hint>
                <hint v-bind:name="'Roles for your network management'">
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html">Security groups for your VPC</a>
                    </div>
                </hint>
            </hints>
        </div>
    </div>

    <div class="page">
        <h3>Security in AWS</h3>

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Is this learning tool use AWS Security services</span>
                        <p>
                            AWS is global but it feels like separate components.<br/>
                            What is the magic behind it?
                        </p>
                    </div>
                </div>
            </div>

            <hints>
                <hint v-bind:name="'Identity and access management – it handles it all'">
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/IAM/latest/UserGuide/intro-structure.html">Understanding how IAM works</a>
                    </div>
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/STS/latest/APIReference/welcome.html">Security Token Service</a>
                    </div>
                </hint>
                <hint v-bind:name="'I see those arn:... everywhere'">
                    It is just a convention to identify a resource in AWS.<br/>
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a>
                    </div>
                </hint>
                <hint v-bind:name="'Are there any tools for programmers'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/tools/">AWS SDK</a>
                    </div>
                </hint>
                <hint v-bind:name="'Are there any tools for getting short things done'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/cli/">AWS CLI</a>
                    </div>
                </hint>
                <hint v-bind:name="'What about other security methods?'">
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html">Security groups</a>
                    </div>
                    <div class="collection">
                        <a class="collection-item" href="https://docs.aws.amazon.com/vpc/latest/userguide/vpc-network-acls.html">Network ACL</a>
                    </div>
                </hint>
                <hint v-bind:name="'What about auditing?'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/cloudtrail/">Cloud trail</a>
                    </div>
                </hint>
            </hints>
        </div>
        <div class="row">
            <form target="#">
                <div class="input-field col s6">
                    <h3>Credentials for this Web site/system</h3>
                    <div>
                        <input v-model="gameConfig.aws.accessKey" placeholder="Access key id" id="access_key" type="text" class="validate"/>
                        <label for="access_key">Access key</label>
                    </div>
                    <div>
                        <input v-model="gameConfig.aws.secretKey" id="secret_key" type="password" class="validate"/>
                        <label for="secret_key">Secret key</label>
                    </div>
                    <div class="login-form__submit-area">
                        <button v-on:click="copyToClipboard(gameConfig.aws.secretKey)" class="btn waves-effect waves-light" type="button">Copy password
                            <i class="material-icons right">content_copy</i>
                        </button>
                        <button v-on:click="login" class="btn waves-effect waves-light" type="button">Test logins
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <div class="input-field col s6">
                    <img v-if="!sts.loading && sts.statusMessage === ''" src="img/scores-illustration.jpg" width="495" height="383" alt="Scores illustration during the game"/>
                    <div v-if="sts.loading" class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                    <div v-if="sts.statusMessage !== ''" class="collection z-depth-2 status--preformatted">{{ sts.statusMessage }}</div>
                </div>
            </form>
        </div>
        <div class="row">
            <div v-if="gameConfig.costSavingMode" class="card-panel red lighten-1">Virtual instances not created yet because saving costs. Will be enabled during workshop hours</div>
            <secret v-bind:arn="gameConfig.secrets.productionSecretsArn">
                Can you (accidentally) fetch productions credentials?
            </secret>
        </div>
    </div>

    <div id="trending" class="page page--full page--future-landing">
        <h1>What about technologies of the future</h1>
    </div>

    <div class="page">
        <h3>Serverless</h3>

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Serverless is a new trend?</span>
                        <p>
                            I heard I can pay per requests and not for idle resources.<br/>
                            Does it really work without servers?
                        </p>
                    </div>
                </div>
            </div>

            <hints>
                <hint v-bind:name="'Execution billed by milliseconds'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/lambda/">AWS Lambda</a>
                    </div>
                </hint>
                <hint v-bind:name="'Where to store and synchronize'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/s3/">Simple Storage Service</a>
                    </div>
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/sqs/">Queues (SQS)</a>
                    </div>
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/sns/">Extension points (SNS)</a>
                    </div>
                </hint>
                <hint v-bind:name="'Other storage options?'">
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/dynamodb/">High throughput storage (DynamoDB)</a>
                    </div>
                    <div class="collection">
                        <a class="collection-item" href="https://aws.amazon.com/rds/aurora/serverless/">MySQL on-demand (Aurora Serverless)</a>
                    </div>

                </hint>
            </hints>
        </div>

        <div class="page">
            <h3>Let's play...</h3>

            <question v-bind:player="gameConfig.aws.userName" task="0.1.SystemTest" value="yes">
                Are you in?
            </question>
        </div>
        <div class="page">
            <h1>Your score</h1>
            <div v-if="gameConfig.costSavingMode" class="card-panel red lighten-1">Scores will be reset with the start of workshop</div>
            <score v-bind:username="gameConfig.aws.userName" v-bind:storage="gameConfig.storage.scoresBucket" v-bind:max="gameConfig.storage.maxScore"></score>
        </div>

        <div class="page">
            <h1>Score board</h1>
            <score v-bind:storage="gameConfig.storage.scoresBucket" v-bind:max="gameConfig.storage.maxScore" v-bind:players="gameConfig.students"></score>
        </div>
    </div>
</div>


    <script type="text/javascript" src="js/hints.js"></script>
    <script type="text/javascript" src="js/hint.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
    <script type="text/javascript" src="js/score.js"></script>
    <script type="text/javascript" src="js/secret.js"></script>
    <script type="text/javascript" src="js/question.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>