<!DOCTYPE html>
<html xml:lang="en">
<head>
    <meta charset="UTF-8" />
    <title>AWS workshop: Dive into the Cloud</title>
    <meta name="viewport" content="width=device-width" />
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.817.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="spacex-theme/theme.css">
</head>
<body>
<div id="spa">

    <div v-if="!gameConfig.aws.secretKey" class="modal-overlay" style="z-index: 1002; display: block; opacity: 0.5;"></div>

    <div v-if="!gameConfig.aws.secretKey" id="modal1" class="modal open" tabindex="0" style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">
        <form>
            <div class="modal-content">
                <h4>We need to identify you</h4>
                <div class="input-field">
                    <input v-model="initialization.userName" v-on:keyup="loadConfigKey" id="email" type="text" v-bind:class="{invalid: !initialization.valid}"/>
                    <label for="email">E-mail address</label>
                </div>
                <div class="input-field">
                    <input v-model="initialization.company" v-on:keyup="loadConfigKey" id="company" type="text"  v-bind:class="{invalid: !initialization.valid}"/>
                    <label for="company">Company name</label>
                </div>
            </div>
            <div class="modal-footer">
                <loading v-if="loading"></loading>
                <span v-if="statusMessage">{{statusMessage}}</span>
                <button v-on:click="loadConfig" v-bind:class="{disabled: !initialization.userName || !initialization.company || !initialization.valid}" class="btn waves-effect waves-light" type="button">
                    Start learning <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>


    <div class="page page--full page--dive-into-the-cloud">
        <h1>Dive into the Cloud</h1>
    </div>

    <div class="page" v-if="gameConfig.aws.password">
        <div class="row">
            <form class="col s12 login-form">
                <div class="row">
                    <div class="input-field col s6">
                        <h2>Logins</h2>
                        <h3>For you</h3>
                        <div>
                            <label for="account_id">Account ID (12 digits) or account alias</label>
                            <input v-model="gameConfig.aws.accountId" id="account_id" type="text" class="validate"/>
                        </div>
                        <div>
                            <label for="user_name">IAM user name</label>
                            <input v-model="gameConfig.aws.userName" id="user_name" type="text" class="validate"/>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input v-model="gameConfig.aws.password" id="password" v-bind:type="showPasswords ? 'text' : 'password'" class="validate"/>
                        </div>
                        <div class="login-form__submit-area">
                            <button v-on:click="showPasswords = !showPasswords" class="btn waves-effect waves-light" type="button">Show passwords
                                <i class="material-icons right" title="show password">visibility</i>
                            </button>
                            <a v-bind:href="'https://'+gameConfig.aws.accountId+'.signin.aws.amazon.com/console/'" target="_blank" class="btn waves-effect waves-light" type="button">
                                Go to AWS Console <i class="material-icons right">send</i>
                            </a>
                        </div>
                    </div>
                    <div class="input-field col s6 ">
                        <img src="img/aws-illustration.jpg" width="345" height="514" alt="Illustration of AWS Login form"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <script type="text/javascript" src="js/loading.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>